<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <link href="/global/font.css" rel="stylesheet"/>
    <link href="cid:html_email_sample_css" rel="stylesheet"/>
    <title>HTML Email</title>
</head>
<body>
<div>
    <h1 style="font-family: NanumGothic;">HTML Email</h1>
    <img id="sample_img" src="cid:html_to_pdf_sample_image" alt=""/>

    <div>
        <h2 style="font-family: NanumMyeongjo;">이메일 내용</h2>
        <p style="font-family: NanumMyeongjo;">[[${message}]]</p>
    </div>
</div>

</body>
</html>