<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link href="/resource_global/font.css" rel="stylesheet"/>
    <link href="/resource_sc1_n1/home_page.css" rel="stylesheet"/>
    <script src="/resource_sc1_n1/home_page.js" defer></script>
    <title>
        Home
    </title>
</head>
<body>

<div>
    <img id="title_icon" src="/resource_sc1_n1/title_icon.png" alt="타이틀 아이콘 이미지"/>
    <span id="title_txt">
        Home
    </span>
</div>

<hr/>

<h3>
    시스템 정보
</h3>
<span>
    구동 환경 프로필 : [[${viewModel.env}]]
</span>
<br/>

<h3 th:if="${viewModel.env != 'prod80'}">
    Swagger 문서
</h3>

<button id="go_to_swagger_btn" class="main_btn" th:if="${viewModel.env != 'prod80'}">
    Swagger
</button>

</body>
</html>